.carousel-item {
  height: 100vh;
}

.carousel {
  background-image: url(../images/slider_photos/banner-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item img {
  height: 100vh;
  background-size: 100% 100%;
  background-size: cover;
}

.contact-footer {
  background-color: #2f2e33;
}

.footer-created {
  background-color: #212024;
}

/* Кнопка для скрола вверх страницы */
.up-btn {
  position: fixed;
  bottom: 16px;
  right: 32px;
  z-index: 1;
}

/* Добавление блока в шапку для решения вопроса навигации */
header:before,
header:after {
  display: table;
  content: " ";
}

/* Внешний вид кнопок футера */
.btn-circle:hover {
  background-color: #212024;
}

.btn-circle {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

body {
  position: relative;
}

.bg-gray {
  background-color: #d5d6d2;
}

.bg-blue {
  background-color: #3a5199;
}

.nav-target:hover {
  cursor: pointer;
}

.top-border {
  border-top: 2px solid #3a5199;
}

.card-border {
  border: 2px solid #3a5199
}
