<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Сайт портфолио, содержащий информацию о Назарове Дмитрие, молодом разработчике и 3d-моделлере">
    <link rel="shortcut icon" href="../static/images/icons/favicon_1.ico" type="image/x-icon">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Dmitry Nazarov</title>
</head>

<body data-bs-spy="scroll" data-bs-target="#navigationMenu">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #2f2e33;"
            id="navigationMenu">
            <div class="container-fluid">
                <a class="navbar-brand" href="#top">
                    <img src="../static/images/icons/favicon-32x32.png" width="32" height="32"
                        class="d-inline-block align-top" alt="main_logo" loading="lazy">
                    Advokate`
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#top" class="nav-link">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a href="#aboutMe" class="nav-link">Обо мне</a>
                        </li>
                        <li class="nav-item">
                            <a href="#skills" class="nav-link">Навыки</a>
                        </li>
                        <li class="nav-item">
                            <a href="#portfolio" class="nav-link">Портфолио</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contactData" class="nav-link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="top"></div>
    </header>

    <a href="#top" class="up-btn">
        <img src="../static/images/icons/up-btn.svg" alt="go-top-btn">
    </a>
    <main>
        <!-- Раздел "Главная" -->
        <section>
            <div id="carouselAboutMe" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Frontend"></button>
                    <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="1"
                        aria-label="Backend"></button>
                    <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="2"
                        aria-label="3d-modeling"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="../static/images/icons/up-btn.svg" class="d-block w-100" alt="TextAboutMe">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Frontend</h5>
                            <p>Проектирую и создаю пользовательские интерфейсы для сайтов или веб-приложений</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../static/images/icons/up-btn.svg" class="d-block w-100" alt="TextAboutMe">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Backend</h5>
                            <p>Совершенствую навыки разработки программно-аппаратной части проектов</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../static/images/icons/up-btn.svg" class="d-block w-100" alt="TextAboutMe">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>3d-modeling</h5>
                            <p>Выполняю моделирование объектов в программе Autodesk 3ds Max 2019</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselAboutMe"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselAboutMe"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </section>
        <!-- Раздел "Обо мне" -->
        <section id="aboutMe" class="bg-gray">
            <div class="container">
                <div class="row my-3 gy-3">
                    <div class="col-md-6 col-sm-12">
                        <h4>Hello world</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-card-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path
                                d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                        </svg>
                        <a href="../static/images/slider_photos/slide_3.jpg" class="btn btn-info" download="image">download</a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Hello bootstrap</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-card-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path
                                d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                        </svg>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem, placeat optio, culpa
                            voluptates totam facilis non nesciunt, et ea quos quod sit praesentium rerum! Dolorum
                            exercitationem laudantium placeat sunt.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Hello bootstrap</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-card-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path
                                d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                        </svg>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem, placeat optio, culpa
                            voluptates totam facilis non nesciunt, et ea quos quod sit praesentium rerum! Dolorum
                            exercitationem laudantium placeat sunt.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Hello bootstrap</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-card-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path
                                d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                        </svg>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem, placeat optio, culpa
                            voluptates totam facilis non nesciunt, et ea quos quod sit praesentium rerum! Dolorum
                            exercitationem laudantium placeat sunt.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Hello bootstrap</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-card-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path
                                d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                        </svg>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem, placeat optio, culpa
                            voluptates totam facilis non nesciunt, et ea quos quod sit praesentium rerum! Dolorum
                            exercitationem laudantium placeat sunt.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Hello bootstrap</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-card-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path
                                d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                        </svg>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem, placeat optio, culpa
                            voluptates totam facilis non nesciunt, et ea quos quod sit praesentium rerum! Dolorum
                            exercitationem laudantium placeat sunt.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Раздел "Навыки" -->
        <section id="skills">
            <div style="height: 1000px;"></div>
        </section>
        <!-- Раздел "Портфолио" -->
        <section id="portfolio" class="bg-gray">
            <div style="height: 1000px;"></div>
        </section>
    </main>
    <footer class="contact-footer text-center text-white" id="contactData">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <!-- Telegram -->
                <a class="btn btn-floating m-1 btn-circle" href="https://t.me/dm_naz" role="button" target="_blank"><img
                        src="../static/images/icons/telegram_icon.svg" alt="contact-telegram"></a>
                <!-- VK -->
                <a class="btn btn-floating m-1 btn-circle" href="https://vk.com/dm_naz" role="button"
                    target="_blank"><img src="../static/images/icons/vk_icon.svg" alt="contact-vk"></a>
                <!-- WhatsApp -->
                <a class="btn btn-floating m-1 btn-circle" href="https://wa.me/79051413435" role="button"
                    target="_blank"><img src="../static/images/icons/whatsapp_icon.svg" alt="contact-whats-app"></a>
                <!-- Steam -->
                <a class="btn btn-floating m-1 btn-circle" href="https://steamcommunity.com/id/DmitriyAdvokat"
                    role="button" target="_blank"><img src="../static/images/icons/steam_icon.svg"
                        alt="contact-steam"></a>
                <!-- GitHub -->
                <a class="btn btn-floating m-1 btn-circle" href="https://github.com/Advokat1" role="button"
                    target="_blank"><img src="../static/images/icons/github_icon.svg" alt="github_icon"></a>
                <!-- Mail -->
                <a class="btn btn-floating m-1 btn-circle" href="mailto:d.a.nazarov1@yandex.ru" role="button"><img
                        src="../static/images/icons/mail_icon.svg" alt="contact-mail"></a>
            </section>
        </div>
        <div class="text-center p-3 footer-created">
            <p class="text-white" href="https://mdbootstrap.com/">Created by Dmitry Nazarov</p>
        </div>
    </footer>

    <body>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../resources/script.js"></script>

</html>