<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="Сайт портфолио, содержащий информацию о Назарове Дмитрие, молодом разработчике и 3d-моделлере" />
    <link rel="shortcut icon" href="../static/images/icons/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/timeline.css" />
    <title>Dmitry Nazarov</title>
</head>

<body data-bs-spy="scroll" data-bs-target="#navigationMenu" data-bs-offset="0" tabindex="0">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #2f2e33"
            id="navigationMenu">
            <div class="container-fluid">
                <a class="navbar-brand" href="#top">
                    <img src="../static/images/icons/favicon-32x32.png" width="32" height="32"
                        class="d-inline-block align-top" alt="main_logo" loading="lazy" />
                    Advokate`
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#top" class="nav-link">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a href="#aboutMe" class="nav-link">О себе</a>
                        </li>
                        <li class="nav-item">
                            <a href="#skills" class="nav-link">Навыки</a>
                        </li>
                        <li class="nav-item">
                            <a href="#portfolio" class="nav-link">Портфолио</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contactData" class="nav-link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="top"></div>
        <!-- Кнопка быстрого скролла вверх страницы -->
        <a href="#top" class="up-btn">
            <img src="../static/images/icons/up-btn.svg" alt="go-top-btn" />
        </a>
        <!-- Раздел "Главная" -->
        <section data-bs-spy="scroll" data-bs-target="#navigationMenu" data-bs-offset="0">
            <div id="carouselAboutMe" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Frontend"></button>
                    <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="1"
                        aria-label="Backend"></button>
                    <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="2"
                        aria-label="3d-modeling"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <!-- <img src="../static/images/icons/up-btn.svg" class="d-block w-100" alt="TextAboutMe" /> -->
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Фронтенд</h3>
                            <p class="fs-5">
                                Проектирую и создаю пользовательские интерфейсы для сайтов или
                                веб-приложений
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <!-- <img src="../static/images/icons/up-btn.svg" class="d-block w-100" alt="TextAboutMe" /> -->
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Бэкенд</h3>
                            <p class="fs-5">
                                Совершенствую навыки разработки программно-аппаратной части
                                проектов
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <!-- <img src="../static/images/icons/up-btn.svg" class="d-block w-100" alt="TextAboutMe" /> -->
                        <div class="carousel-caption d-none d-md-block">
                            <h3>3д-моделирование</h3>
                            <p class="fs-5">
                                Выполняю моделирование объектов в программе Autodesk 3ds Max
                                2019
                            </p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselAboutMe"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselAboutMe"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </section>
        <!-- Раздел "О себе" -->
        <section id="aboutMe" class="bg-gray" data-bs-spy="scroll" data-bs-target="#navigationMenu" data-bs-offset="0">
            <div class="container p-3">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <hr>
                        <h3 class="text-center">&laquo;А я, так просто, Назаров Дмитрий&raquo;</h3>
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 my-3">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Corrupti, dolor animi rem eos maxime distinctio sit odio
                            provident repudiandae nam voluptates impedit incidunt
                            praesentium aliquid magni expedita. Impedit, exercitationem
                            adipisci?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Corrupti, dolor animi rem eos maxime distinctio sit odio
                            provident repudiandae nam voluptates impedit incidunt
                            praesentium aliquid magni expedita. Impedit, exercitationem
                            adipisci?
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="card text-center">
                            <img src="../static/images/cards_photos/vk_group.png" class="card-img-top"
                                alt="vk_group_logo">
                            <div class="card-body">
                                <h5 class="card-title">
                                    MovieNerds
                                </h5>
                                <p class="card-text">
                                    Сообщество, в котором я делюсь новостями кино, сериалов и анимации
                                </p>
                                <a href="https://vk.com/movie_nerds" target="_blank" class="btn btn-primary">
                                    Присоединиться
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-center">
                            <img src="../static/images/cards_photos/telegram.png" class="card-img-top"
                                alt="telegram_logo">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Advokate`s works
                                </h5>
                                <p class="card-text">
                                    Канал, где я показываю свой прогресс в изучении 3д-моделирования
                                </p>
                                <a href="https://t.me/advokate_works" target="_blank"
                                    class="btn btn-primary">
                                    Присоединиться
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Раздел "Навыки" -->
        <section id="skills" data-bs-spy="scroll" data-bs-target="#navigationMenu" data-bs-offset="0">
            <div class="container p-3">
                <div class="row justify-content-center">
                    <h3 class="text-center">Мои навыки</h3>
                    <div class="col-8">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Corrupti, dolor animi rem eos maxime distinctio sit odio
                            provident repudiandae nam voluptates impedit incidunt
                            praesentium aliquid magni expedita. Impedit, exercitationem
                            adipisci?
                        </p>
                    </div>
                </div>
                <div class="row mt-3 gx-5">
                    <div class="col-md-4 col-sm-12">
                        <h4>Бэкенд</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                            dolorem, placeat optio, culpa voluptates totam facilis non
                            nesciunt, et ea quos quod sit praesentium rerum! Dolorum
                            exercitationem laudantium placeat sunt.
                        </p>
                        <div class="row g-2 d-flex align-items-center fw-bold">
                            <div class="col-3">Python</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                        65%
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">JavaScript</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                                        55%
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">CSharp</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        20%
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">SQL</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                                        15%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <h4>Фронтенд</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                            dolorem, placeat optio, culpa voluptates totam facilis non
                            nesciunt, et ea quos quod sit praesentium rerum! Dolorum
                            exercitationem laudantium placeat sunt.
                        </p>
                        <div class="row g-2 d-flex align-items-center fw-bold">
                            <div class="col-3">HTML5</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                                        55%
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">CSS3</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        40%
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">Bootstrap</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                        35%
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">Figma</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar w-50 progress-bar-striped bg-blue" role="progressbar"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        50%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <h4>Моделирование</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                            dolorem, placeat optio, culpa voluptates totam facilis non
                            nesciunt, et ea quos quod sit praesentium rerum! Dolorum
                            exercitationem laudantium placeat sunt.
                        </p>
                        <div class="row g-2 d-flex align-items-center fw-bold">
                            <div class="col-3">3ds Max</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar w-50 progress-bar-striped bg-blue" role="progressbar"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        50%
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">Corona</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue w-25" role="progressbar"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        25%
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">Photoshop</div>
                            <div class="col-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue w-25" role="progressbar"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        25%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row justify-content-center mt-3">
                    <h3 class="text-center">Полученный опыт</h3>
                    <div class="col-8">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Corrupti, dolor animi rem eos maxime distinctio sit odio
                            provident repudiandae nam voluptates impedit incidunt
                            praesentium aliquid magni expedita. Impedit, exercitationem
                            adipisci?
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="container">
                        <div class="main-timeline">
                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month">2 Years</span>
                                            <span class="year">2013</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Visual Art &amp; Design</h5>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed efficitur ex sit amet massa scelerisque scelerisque.
                                        Aliquam erat volutpat. Aenean interdum finibus efficitur.
                                        Praesent dapibus dolor felis, eu ultrices elit molestie.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->

                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month">1 Years</span>
                                            <span class="year">2015</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Product Designer</h5>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed efficitur ex sit amet massa scelerisque scelerisque.
                                        Aliquam erat volutpat. Aenean interdum finibus efficitur.
                                        Praesent dapibus dolor felis, eu ultrices elit molestie.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->

                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month">2 Years</span>
                                            <span class="year">2016</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Web Designer</h5>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed efficitur ex sit amet massa scelerisque scelerisque.
                                        Aliquam erat volutpat. Aenean interdum finibus efficitur.
                                        Praesent dapibus dolor felis, eu ultrices elit molestie.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->

                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month">2 Years</span>
                                            <span class="year">2018</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Graphic Designer</h5>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed efficitur ex sit amet massa scelerisque scelerisque.
                                        Aliquam erat volutpat. Aenean interdum finibus efficitur.
                                        Praesent dapibus dolor felis, eu ultrices elit molestie.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Раздел "Портфолио" -->
        <section id="portfolio" class="bg-gray" data-bs-spy="scroll" data-bs-target="#navigationMenu"
            data-bs-offset="0">
            <div class="container p-3">
                <div class="row justify-content-center">
                    <h3 class="text-center">Портфолио</h3>
                    <div class="col-8">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Corrupti, dolor animi rem eos maxime distinctio sit odio
                            provident repudiandae nam voluptates impedit incidunt
                            praesentium aliquid magni expedita. Impedit, exercitationem
                            adipisci?
                        </p>
                    </div>
                </div>
                <hr />
                <div class="row justify-content-center mt-3">
                    <div class="col-12">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">
                                    Мои достижения
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">
                                    Программирование
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact" aria-selected="false">
                                    Моделирование
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="card mb-3 card-border">
                                    <div class="row g-0">
                                        <div class="col-4 border-end border-2">
                                            <img src="../static/images/cards_photos/project.png"
                                                class="img-fluid rounded-start" alt="info" />
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below as a
                                                    natural lead-in to additional content. This content
                                                    is a little bit longer.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        Last updated 3 mins ago
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="card mb-3 card-border">
                                    <div class="row g-0">
                                        <div class="col-4 border-end border-2">
                                            <img src="../static/images/cards_photos/project.png"
                                                class="img-fluid rounded-start" alt="info" />
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below as a
                                                    natural lead-in to additional content. This content
                                                    is a little bit longer.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        Last updated 3 mins ago
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="card mb-3 card-border">
                                    <div class="row g-0">
                                        <div class="col-4 border-end border-2">
                                            <img src="../static/images/cards_photos/project.png"
                                                class="img-fluid rounded-start" alt="info" />
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below as a
                                                    natural lead-in to additional content. This content
                                                    is a little bit longer.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        Last updated 3 mins ago
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Футер -->
    <footer class="contact-footer text-center text-white" id="contactData" data-bs-spy="scroll"
        data-bs-target="#navigationMenu" data-bs-offset="0">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <!-- Telegram -->
                <a class="btn btn-floating m-1 btn-circle" href="https://t.me/dm_naz" role="button" target="_blank"><img
                        src="../static/images/icons/telegram_icon.svg" alt="contact-telegram" /></a>
                <!-- VK -->
                <a class="btn btn-floating m-1 btn-circle" href="https://vk.com/dm_naz" role="button"
                    target="_blank"><img src="../static/images/icons/vk_icon.svg" alt="contact-vk" /></a>
                <!-- WhatsApp -->
                <a class="btn btn-floating m-1 btn-circle" href="https://wa.me/79051413435" role="button"
                    target="_blank"><img src="../static/images/icons/whatsapp_icon.svg" alt="contact-whats-app" /></a>
                <!-- Steam -->
                <a class="btn btn-floating m-1 btn-circle" href="https://steamcommunity.com/id/DmitriyAdvokat"
                    role="button" target="_blank"><img src="../static/images/icons/steam_icon.svg"
                        alt="contact-steam" /></a>
                <!-- GitHub -->
                <a class="btn btn-floating m-1 btn-circle" href="https://github.com/Advokat1" role="button"
                    target="_blank"><img src="../static/images/icons/github_icon.svg" alt="github_icon" /></a>
                <!-- Mail -->
                <a class="btn btn-floating m-1 btn-circle" role="button" id="ShowEmailInfo"><img
                        src="../static/images/icons/mail_icon.svg" alt="contact-mail" /></a>
            </section>
        </div>
        <div class="text-center p-3 footer-created">
            <p class="text-white">Created by Dmitry Nazarov</p>
        </div>
    </footer>
</body>
<!-- Email data notification -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="EmailInfo" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true"
        data-bs-autohide="false">
        <div class="toast-header">
            <img src="../static/images/icons/info_icon.svg" class="rounded me-2" alt="info-icon" />
            <strong class="me-auto">Email</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p>Контактная почта <strong>d.a.nazarov1@yandex.ru</strong></p>
            <div id="CopySuccesses" class="text-center" style="display: none">
                <img src="../static/images/icons/check_icon.svg" alt="success" />
                Скопированно!
            </div>
            <div id="CopyErrore" class="text-center" style="display: none">
                <img src="../static/images/icons/errore_icon.svg" alt="errore" />
                Возникла ошибка!
            </div>
            <div class="mt-2 pt-2 top-border text-center">
                <button type="button" class="btn bg-blue btn-sm text-white" id="CopyEmailBtn">
                    Скопировать адрес в буфер обмена
                </button>
            </div>
        </div>
    </div>
</div>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../resources/script.js"></script>

</html>