<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="Сайт портфолио, содержащий информацию о Назарове Дмитрие, молодом разработчике и 3d-моделлере" />
    <link rel="shortcut icon" href="../static/images/icons/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/timeline.css" />
    <title>Dmitry Nazarov</title>
</head>

<body tabindex="0">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top scrollto" style="background-color: #2f2e33"
            id="navigationMenu">
            <div class="container-fluid">
                <a class="navbar-brand" href="#top">
                    <img src="../static/images/icons/favicon-32x32.png" width="32" height="32"
                        class="d-inline-block align-top" alt="main_logo" loading="lazy" />
                    Advokate`
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#top" class="nav-link">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a href="#aboutMe" class="nav-link">О себе</a>
                        </li>
                        <li class="nav-item">
                            <a href="#skills" class="nav-link" id="Scroll">Навыки</a>
                        </li>
                        <li class="nav-item">
                            <a href="#portfolio" class="nav-link">Портфолио</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contactData" class="nav-link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="top"></div>

        <!-- Кнопка быстрого скролла вверх страницы -->

        <a href="#top" class="up-btn">
            <img src="../static/images/icons/up-btn.svg" alt="go-top-btn" />
        </a>

        <!-- Раздел "Главная" -->

        <section>
            <div id="carouselAboutMe" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="../static/images/slider_photos/slide_1_web.png" class="d-block w-100" alt="Frontend">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../static/images/slider_photos/slide_2_back.png" class="d-block w-100" alt="Backend">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../static/images/slider_photos/slide_3_modelling.png" class="d-block w-100"
                            alt="Modeling">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselAboutMe"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselAboutMe"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </section>

        <!-- Раздел "О себе" -->

        <section id="aboutMe" class="bg-gray">
            <div class="container p-3">
                <div class="row justify-content-center">
                    <div class="col-md-6, col-sm-12">
                        <hr />
                        <h3 class="text-center">
                            &laquo;А я, так просто, Назаров Дмитрий&raquo;
                        </h3>
                        <hr />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12 my-3">
                        <p class="text-center">
                            Мне 22 года, я молодой, дружелюбный сосед человек-гик. Любитель
                            кино, сериалов и аниме. Увлекаюсь комиксами, иногда читаю книги
                            жанра фантастики. Фанат гонок формулы 1 и начинающий шахматист.
                        </p>
                        <br />
                        <p class="text-center">
                            Обладаю навыками системного администрирования. Стремлюсь стать
                            востребованным разработчиком. Программирую на Python и
                            JavaScript. Делаю различные проекты по веб-дизайну. Создаю 3д
                            модели объектов и их визуализации. Сейчас работаю в компании
                            КРОК стажёром по программированию систем управления
                            Crestron/Extron.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center my-5">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card text-center">
                            <img src="../static/images/cards_photos/vk_group.png" class="card-img-top"
                                alt="vk_group_logo" />
                            <div class="card-body">
                                <h5 class="card-title">MovieNerds</h5>
                                <p class="card-text">
                                    Сообщество, в котором я делюсь новостями кино, сериалов и
                                    анимации
                                </p>
                                <a href="https://vk.com/movie_nerds" target="_blank" class="btn btn-primary">
                                    Присоединиться
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card text-center">
                            <img src="../static/images/cards_photos/telegram.png" class="card-img-top"
                                alt="telegram_logo" />
                            <div class="card-body">
                                <h5 class="card-title">Advokate`s works</h5>
                                <p class="card-text">
                                    Канал, где я показываю свой прогресс в изучении сферы
                                    3д-моделирования
                                </p>
                                <a href="https://t.me/advokate_works" target="_blank" class="btn btn-primary">
                                    Присоединиться
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Раздел "Навыки" -->

        <section id="skills">
            <div class="container p-3">
                <div class="row justify-content-center">
                    <h3 class="text-center">Мои навыки</h3>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <p class="text-center">
                            Активно погружаюсь в сферу информационных технологий. Изучаю
                            языки программирования для разработки логики программ.
                            Знакомлюсь с версткой и созданием пользовательской стороны
                            приложений. В качестве хобби пробую выполнять визуализации
                            трёхмерных объектов.
                        </p>
                    </div>
                </div>
                <div class="row mt-3 gx-5">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <h4>Бэкенд</h4>
                        <p>
                            Изучаю языки программирования. Выполняю различные задачи. Могу
                            разрабатывать клиент-серверные настольные/веб приложения. Умею
                            строить SQL запросы. Могу работать в MySQL Workbench и PgAdmin
                            для создания и управления схемами баз данных.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <h4>Фронтенд</h4>
                        <p>
                            Изучаю стек HTML/CSS/Vue.js технологий для веб-разработки.
                            Занимаюсь проектированием и версткой простых интерфейсов. Умею
                            работать в программе Figma для прототипирования страниц и
                            приложений. Могу использовать Bootstrap v4/5.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <h4>Моделирование</h4>
                        <p>
                            Делаю 3д модели различных объектов. Умею работать с
                            инструментами программы 3ds Max. Могу выполнять настройку
                            рендеров Arnold, Corona. Изучаю high/low poly моделирование.
                            Умею делать модели под сглаживание. Могу обрабатывать рендеры в
                            Photoshop.
                        </p>
                    </div>
                </div>
                <div class="row mt-3 gx-5">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="row g-2 d-flex align-items-center fw-bold">
                            <div class="col-lx-3 col-lg-4 col-sm-3">Python</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 25%"></div>
                                </div>
                            </div>
                            <div class="col-lx-3 col-lg-4 col-sm-3">JavaScript</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 20%"></div>
                                </div>
                            </div>
                            <div class="col-lx-3 col-lg-4 col-sm-3">1С</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 15%"></div>
                                </div>
                            </div>
                            <div class="col-lx-3 col-lg-4 col-sm-3">SQL</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 17%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="row g-2 d-flex align-items-center fw-bold">
                            <div class="col-lx-3 col-lg-4 col-sm-3">HTML5</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 35%"></div>
                                </div>
                            </div>
                            <div class="col-lx-3 col-lg-4 col-sm-3">CSS3</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 25%"></div>
                                </div>
                            </div>
                            <div class="col-lx-3 col-lg-4 col-sm-3">Bootstrap</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 20%"></div>
                                </div>
                            </div>
                            <div class="col-lx-3 col-lg-4 col-sm-3">Figma</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 45%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="row g-2 d-flex align-items-center fw-bold">
                            <div class="col-lx-3 col-lg-4 col-sm-3">3ds Max</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 25%"></div>
                                </div>
                            </div>
                            <div class="col-lx-3 col-lg-4 col-sm-3">Corona</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 15%"></div>
                                </div>
                            </div>
                            <div class="col-lx-3 col-lg-4 col-sm-3">Photoshop</div>
                            <div class="col-lx-9 col-lg-8 col-sm-9">
                                <div class="progress bg-gray" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-blue" role="progressbar"
                                        style="width: 20%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row justify-content-center mt-3">
                    <h3 class="text-center">Полученный опыт</h3>
                    <div class="col-lg-10 col-md-12">
                        <p class="text-center">
                            Первый рабочий опыт приобрел в лицее, когда сдал экзамен на
                            сертификат "Управление ЭВМ". Научился работать с компьютерными
                            программами обработки данных, а также начал программировать.
                            Затем поступил в технический вуз, где стал развиваться в сфере
                            информационных технологий.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="container">
                        <div class="main-timeline">
                            <!-- начало секции опыта -->

                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month">4 Года</span>
                                            <span class="year">2017</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Бакалавриат (Московский Политех)</h5>
                                    <p class="description">
                                        Завершил обучение по направлению 09.03.03 - Прикладная
                                        информатика. Получил навыки программирования на 1C,
                                        Python, JavaScript. Научился выполнять работы по
                                        разработке корпоративных информационных систем.
                                        Познакомился с нормами составления технической литературы
                                        и документирования проектных решений.
                                    </p>
                                </div>
                            </div>

                            <!-- конец секции опыта -->

                            <!-- начало секции опыта -->

                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month">3 Месяца</span>
                                            <span class="year">2021</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Школа 3д-моделирования (Knower)</h5>
                                    <p class="description">
                                        Прошел два курса по основам 3д-моделирования. Научился
                                        работать в программе 3ds Max 2019 для создания
                                        визуализаций объектов различной сложности. Познакомился с
                                        подходами к созданию моделей, а также изучил работу
                                        рендеров Arnold и Corona.
                                    </p>
                                </div>
                            </div>

                            <!-- конец секции опыта -->

                            <!-- начало секции опыта -->

                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month">...</span>
                                            <span class="year">2021</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Магистратура (Московский Политех)</h5>
                                    <p class="description">
                                        Поступил на магистерское направление кафедры
                                        информационных технологий. Изучаю компьютерную лингвистику
                                        и искусственный интеллект. Знакомлюсь с научными работами
                                        в сфере машинного обучения и медицинских систем
                                        компьютерного зрения.
                                    </p>
                                </div>
                            </div>

                            <!-- конец секции опыта -->

                            <!-- начало секции опыта -->

                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month">...</span>
                                            <span class="year">2021</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">КРОК</h5>
                                    <p class="description">
                                        Прохожу стажировку в компании КРОК на должность
                                        программиста систем управления. Изучаю работу и управление
                                        профессиональными аудио\видео системами. Взаимодействую с
                                        программными продуктами Crestron и Extron для создания
                                        пользовательских интерфейсов. Занимаюсь программированием
                                        логики работы AV систем.
                                    </p>
                                </div>
                            </div>

                            <!-- конец секции опыта -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Раздел "Портфолио" -->

        <section id="portfolio" class="bg-gray">
            <div class="container p-3">
                <div class="row justify-content-center">
                    <h3 class="text-center">Портфолио</h3>
                    <div class="col-lg-10 col-md-12">
                        <p class="text-center">
                            Стремлюсь стать хорошим специалистом в сфере информационных
                            технологий, поэтому постоянно развиваю свои компетенции. На
                            данный момент работаю в должности стажёра, а также обучаюсь по
                            магистерской программе технического вуза.
                        </p>
                    </div>
                </div>
                <hr />

                <!-- Панель карточек с навигацией по разделам -->

                <div class="row justify-content-center mt-3">
                    <div class="col-12">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-achievements-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-achievements" type="button" role="tab"
                                    aria-controls="pills-achievements" aria-selected="true">
                                    Личные достижения
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-programming-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-programming" type="button" role="tab"
                                    aria-controls="pills-programming" aria-selected="false">
                                    Программирование
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-models-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-models" type="button" role="tab" aria-controls="pills-models"
                                    aria-selected="false">
                                    Моделирование
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-achievements" role="tabpanel"
                                aria-labelledby="pills-achievements-tab">
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-5">
                                            <img src="../static/images/cards_photos/certificate.png" class="img-fluid"
                                                alt="document" />
                                        </div>
                                        <div class="col-lg-12 col-xl-7">
                                            <div class="card-body">
                                                <h5 class="card-title">Сертификат "Оператор ЭВМ"</h5>
                                                <p class="card-text">
                                                    Завершил обучение во Владимирском
                                                    промышленно-коммерческом лицее. Углубленно изучал
                                                    физику, математику и информатику. Успешно завершил
                                                    дисциплины по программированию и работе с прикладным
                                                    ПО. Получил навыки системного администрирования.
                                                    Изучил базовые понятия в сфере 3д моделирования и
                                                    обработки изображений с помощью редакторов.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <a href="https://drive.google.com/drive/folders/1AaLDDO58qtvYtz6txzqcVeVZ0fIfvbEj?usp=sharing"
                                                            target="_blank" class="link-secondary">Подробнее...</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-5">
                                            <img src="../static/images/cards_photos/certificate.png" class="img-fluid"
                                                alt="document" />
                                        </div>
                                        <div class="col-lg-12 col-xl-7">
                                            <div class="card-body">
                                                <h5 class="card-title">Диплом Бакалавра</h5>
                                                <p class="card-text">
                                                    Завершил обучение в Московском политехническом
                                                    университете по направлению прикладная информатика.
                                                    Согласно программе профессиональной подготовки
                                                    обладаю навыками осуществления всех этапов
                                                    жизненного цикла программных продуктов. Подробно
                                                    знакомился с шагом проектирования (моделирования)
                                                    систем. Изучал программирование на 1С, Python, С#, а
                                                    также получил навыки веб-разработки.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <a href="https://drive.google.com/drive/folders/1AaLDDO58qtvYtz6txzqcVeVZ0fIfvbEj?usp=sharing"
                                                            target="_blank" class="link-secondary">Подробнее...</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-5">
                                            <img src="../static/images/cards_photos/certificate.png" class="img-fluid"
                                                alt="document" />
                                        </div>
                                        <div class="col-lg-12 col-xl-7">
                                            <div class="card-body">
                                                <h5 class="card-title">Сертификат Crestron P101</h5>
                                                <p class="card-text">
                                                    Прошел несколько курсов по созданию систем
                                                    управления на базе продуктов Crestron. Изучил
                                                    основные программные продукты, необходимые для
                                                    формирования пользовательского интерфейса и
                                                    программной логики. Посетил очные занятия курса P101
                                                    и успешно выполнил экзаменационное задание.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <a href="https://drive.google.com/drive/folders/1AaLDDO58qtvYtz6txzqcVeVZ0fIfvbEj?usp=sharing"
                                                            target="_blank" class="link-secondary">Подробнее...</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-5">
                                            <img src="../static/images/cards_photos/certificate.png" class="img-fluid"
                                                alt="document" />
                                        </div>
                                        <div class="col-lg-12 col-xl-7">
                                            <div class="card-body">
                                                <h5 class="card-title">Сертификаты Extron</h5>
                                                <p class="card-text">
                                                    Ознакомился с продуктами Extron. Прошел курс
                                                    обучения на работу с аудио\видео оборудованием.
                                                    Изучил принципы формирования и настройки
                                                    профессиональных систем. Получил опыт и навыки
                                                    конфигурирования продуктов Extron. Изучил курс
                                                    программирования управляющих процессоров. Научился
                                                    создавать пользовательский интерфейс. Создал проект
                                                    управления переговорной комнатой.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <a href="https://drive.google.com/drive/folders/1AaLDDO58qtvYtz6txzqcVeVZ0fIfvbEj?usp=sharing"
                                                            target="_blank" class="link-secondary">Подробнее...</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-programming" role="tabpanel"
                                aria-labelledby="pills-programming-tab">
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-5">
                                            <img src="../static/images/cards_photos/vk_ms_bot.png" class="img-fluid"
                                                alt="vk_ms_bot" />
                                        </div>
                                        <div class="col-lg-12 col-xl-7">
                                            <div class="card-body">
                                                <h5 class="card-title">Бот Вконтакте</h5>
                                                <p class="card-text">
                                                    Проект заключается в создании чат бота для
                                                    сообщества MovieNerds. Бот предназначен для
                                                    автоматического взаимодействия с участниками группы
                                                    или обычными пользователями социальной сети. Главной
                                                    задачей является подбор кино/сериалов/аниме по
                                                    заданным параметрам. Для получения информации о
                                                    картинах бот взаимодействует с открытыми API баз
                                                    данных кино.
                                                </p>
                                                <p class="card-text">
                                                    <small>
                                                        <a href="https://github.com/Advokat1/vk_ms_bot" target="_blank"
                                                            class="link-secondary">Репозиторий проекта на GitHub</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-5">
                                            <img src="../static/images/cards_photos/vk_goals.png" class="img-fluid"
                                                alt="vk_goals" />
                                        </div>
                                        <div class="col-lg-12 col-xl-7">
                                            <div class="card-body">
                                                <h5 class="card-title">Мини-приложение Вконтакте</h5>
                                                <p class="card-text">
                                                    Проект для личного пользования. Веб-приложение для
                                                    Vk Mini Apps, которое позволит создавать список
                                                    целей или задач. Для достижения поставленного
                                                    результата предполагается система уведомлений и
                                                    напоминаний. Завершение конкретной задачи, по
                                                    желанию пользователя, формирует пост, которым можно
                                                    поделиться.
                                                </p>
                                                <p class="card-text">
                                                    <small>
                                                        <a href="https://github.com/Advokat1/vk_mini_goals"
                                                            target="_blank" class="link-secondary">Репозиторий проекта
                                                            на GitHub</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-5">
                                            <img src="../static/images/cards_photos/programming_challenge.png"
                                                class="img-fluid" alt="programming_challenge" />
                                        </div>
                                        <div class="col-lg-12 col-xl-7">
                                            <div class="card-body">
                                                <h5 class="card-title">Алгоритмы и задачи</h5>
                                                <p class="card-text">
                                                    Проект для развития навыков программирования и
                                                    вёрстки. Репозиторий состоит из файлов-исходников,
                                                    содержащих код реализации задач, а также таблицы
                                                    отчётности. Вопросы программирования выбираю с
                                                    <b><a href="https://leetcode.com/problemset/all/" target="_blank"
                                                            class="link-secondary">Leetcode</a></b>, а затем решаю их на
                                                    языке Python. Задачи вёрстки
                                                    состоят в формировании элементов/сайтов в
                                                    соответствии с условиями
                                                    <b><a href="https://github.com/P1xt/speedrun-challenge"
                                                            target="_blank" class="link-secondary">Speedrun
                                                            Challange</a></b>
                                                </p>
                                                <p class="card-text">
                                                    <small>
                                                        <a href="https://github.com/Advokat1/algorithms_challenge"
                                                            target="_blank" class="link-secondary">Репозиторий проекта
                                                            на GitHub</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-5">
                                            <img src="../static/images/cards_photos/4photos_1word.png" class="img-fluid"
                                                alt="android_4photos_1word" />
                                        </div>
                                        <div class="col-lg-12 col-xl-7">
                                            <div class="card-body">
                                                <h5 class="card-title">Приложение под андроид</h5>
                                                <p class="card-text">
                                                    Проект предназначен для работы с библиотеками языка
                                                    Python, позволяющих выполнять разработку мобильных
                                                    приложений. В качестве задачи стоит создание андроид
                                                    игры формата "4 фото - 1 слово". Приложение
                                                    разрабатывается по спроектированному ранее
                                                    <b><a href="https://www.figma.com/proto/M5FhVNsYySpHxIkVd7uIXd/4photos1word?page-id=0%3A1&node-id=1%3A2&viewport=241%2C48%2C0.47&scaling=scale-down&starting-point-node-id=1%3A2"
                                                            class="link-secondary" target="_blank">концепту</a></b>.
                                                </p>
                                                <p class="card-text">
                                                    <small>
                                                        <a href="https://github.com/Advokat1/android_4photos_1word"
                                                            target="_blank" class="link-secondary">Репозиторий проекта
                                                            на GitHub</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-5">
                                            <img src="../static/images/cards_photos/library.png" class="img-fluid"
                                                alt="web_library" />
                                        </div>
                                        <div class="col-lg-12 col-xl-7">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    Электронная библиотека на Django
                                                </h5>
                                                <p class="card-text">
                                                    Проект бесплатной электронной библиотеки. Книжный
                                                    фонд пополняется путем добавления новых файлов в
                                                    базу данных администратором или посетителями
                                                    веб-страницы. Предполагается наличие удобной
                                                    фильтрации, возможности к скачиванию книг в
                                                    различных форматах, а также форма онлайн просмотра
                                                    содержимого книги. Проект создается на Django с
                                                    использованием в качестве базы данных PostgreSQL.
                                                    Веб-интерфейс выполнен с использованием технологий
                                                    HTML\CSS\Bootstrap.
                                                </p>
                                                <p class="card-text">
                                                    <small>
                                                        <a href="https://github.com/Advokat1/book_storage"
                                                            target="_blank" class="link-secondary">Репозиторий проекта
                                                            на GitHub</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-models" role="tabpanel"
                                aria-labelledby="pills-models-tab">
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-6">
                                            <img src="../static/images/cards_photos/custle.jpg" class="img-fluid"
                                                alt="custle" />
                                        </div>
                                        <div class="col-lg-12 col-xl-6">
                                            <div class="card-body">
                                                <h5 class="card-title">Замок</h5>
                                                <p class="card-text">
                                                    Мой первый полноценный проект. Использовал подход к
                                                    построению "low poly" объекта, состоящего в основном
                                                    из стандартных примитив. Путём работы с
                                                    инструментами привязки производил перемещения
                                                    деталей замка по плоскостям. Выполнял простые
                                                    деформации инструментами работы с сеткой объектов.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <a href="https://drive.google.com/drive/folders/1sc-7pO51KjrhvbhRkTY2M4H-qMI5nzZR?usp=sharing"
                                                            target="_blank" class="link-secondary">Подробнее...</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-6">
                                            <img src="../static/images/cards_photos/bender.jpg" class="img-fluid"
                                                alt="bender" />
                                        </div>
                                        <div class="col-lg-12 col-xl-6">
                                            <div class="card-body">
                                                <h5 class="card-title">Бендер</h5>
                                                <p class="card-text">
                                                    Модель робота из мультсериала "Футурама". Проект,
                                                    для выполнения которого я изучил новые инструменты
                                                    программы. Использовал подход создания студии с
                                                    изображением объекта на плоскостях для более удобной
                                                    отрисовки и подгонки каждой узловой точки каркаса.
                                                    Применял инструменты вращения, добавления плоскости
                                                    на отрисованную границу, искажение и сдавливания для
                                                    создания наиболее похожей внешне модели.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <a href="https://drive.google.com/drive/folders/1sc-7pO51KjrhvbhRkTY2M4H-qMI5nzZR?usp=sharing"
                                                            target="_blank" class="link-secondary">Подробнее...</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-6">
                                            <img src="../static/images/cards_photos/x_wing.jpg" class="img-fluid"
                                                alt="X-wing" />
                                        </div>
                                        <div class="col-lg-12 col-xl-6">
                                            <div class="card-body">
                                                <h5 class="card-title">X-wing</h5>
                                                <p class="card-text">
                                                    Выполнил построение модели космического корабля из
                                                    вселенной фильмов "Звездные войны". Изучал
                                                    инструменты работы с сеткой объекта. Использовал
                                                    различные деформации и изменение исходных примитив
                                                    для достижения результата, наиболее похожего на
                                                    оригинал. Применял функции объединения объектов, а
                                                    также подключал сторонний инструмент для изменения
                                                    сетки некоторых элементов окружения.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <a href="https://drive.google.com/drive/folders/1sc-7pO51KjrhvbhRkTY2M4H-qMI5nzZR?usp=sharing"
                                                            target="_blank" class="link-secondary">Подробнее...</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow">
                                    <div class="row g-0">
                                        <div class="col-lg-12 col-xl-6">
                                            <img src="../static/images/cards_photos/robodog.jpg" class="img-fluid"
                                                alt="robodog" />
                                        </div>
                                        <div class="col-lg-12 col-xl-6">
                                            <div class="card-body">
                                                <h5 class="card-title">Робо-пёс</h5>
                                                <p class="card-text">
                                                    Первый крупный проект, в котором я использовал все
                                                    ранее изученные техники и инструменты. Применял
                                                    создание коробочной студии. Использовал работу с
                                                    сеткой и другие функции изменения структуры объекта.
                                                    Использовал инструменты создания освещения.
                                                    Пользовался Corona Render для создания итогового
                                                    рендера модели.
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <a href="https://drive.google.com/drive/folders/1sc-7pO51KjrhvbhRkTY2M4H-qMI5nzZR?usp=sharing"
                                                            target="_blank" class="link-secondary">Подробнее...</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Футер -->

    <footer class="contact-footer text-center text-white" id="contactData">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <!-- Telegram -->

                <a class="btn btn-floating m-1 btn-circle" href="https://t.me/dm_naz" role="button" target="_blank"><img
                        src="../static/images/icons/telegram_icon.svg" alt="contact-telegram" /></a>

                <!-- VK -->

                <a class="btn btn-floating m-1 btn-circle" href="https://vk.com/dm_naz" role="button"
                    target="_blank"><img src="../static/images/icons/vk_icon.svg" alt="contact-vk" /></a>

                <!-- GitHub -->

                <a class="btn btn-floating m-1 btn-circle" href="https://github.com/Advokat1" role="button"
                    target="_blank"><img src="../static/images/icons/github_icon.svg" alt="github_icon" /></a>

                <!-- Mail -->

                <a class="btn btn-floating m-1 btn-circle" role="button" id="ShowEmailInfo"><img
                        src="../static/images/icons/mail_icon.svg" alt="contact-mail" /></a>
            </section>
        </div>
        <div class="text-center p-3 footer-created">
            <p class="text-white">Created by Dmitry Nazarov</p>
        </div>
    </footer>
</body>

<!-- Окно уведомлений для вывода почты и кнопки её сохранения в памяти -->

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="EmailInfo" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true"
        data-bs-autohide="false">
        <div class="toast-header">
            <img src="../static/images/icons/info_icon.svg" class="rounded me-2" alt="info-icon" />
            <strong class="me-auto">Email</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p>Контактная почта <strong>d.a.nazarov1@yandex.ru</strong></p>
            <div id="CopySuccesses" class="text-center" style="display: none">
                <img src="../static/images/icons/check_icon.svg" alt="success" />
                Скопированно!
            </div>
            <div id="CopyErrore" class="text-center" style="display: none">
                <img src="../static/images/icons/errore_icon.svg" alt="errore" />
                Возникла ошибка!
            </div>
            <div class="mt-2 pt-2 top-border text-center">
                <button type="button" class="btn bg-blue btn-sm text-white" id="CopyEmailBtn">
                    Скопировать адрес в буфер обмена
                </button>
            </div>
        </div>
    </div>
</div>

<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../resources/script.js"></script>

</html>