<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="carouselAboutMe" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Frontend"></button>
            <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="1" aria-label="Backend"></button>
            <button type="button" data-bs-target="#carouselAboutMe" data-bs-slide-to="2"
                aria-label="3d-modeling"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="../static/images/slider_photos/slide_1_web.png" class="d-block w-100" alt="Web" />
                <div class="carousel-caption d-none d-md-block">
                    <h3>Фронтенд</h3>
                    <p class="fs-5 fw-bold">
                        Проектирую и создаю пользовательские интерфейсы для сайтов или
                        веб-приложений
                    </p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="../static/images/slider_photos/slide_2_back.png" class="d-block w-100" alt="Programming" />
                <div class="carousel-caption d-none d-md-block">
                    <h3>Бэкенд</h3>
                    <p class="fs-5 fw-bold">
                        Совершенствую навыки разработки программно-аппаратной части
                        проектов
                    </p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="../static/images/slider_photos/slide_3_modelling.png" class="d-block w-100" alt="Modeling" />
                <div class="carousel-caption d-none d-md-block">
                    <h3>3д-моделирование</h3>
                    <p class="fs-5 fw-bold">
                        Выполняю моделирование объектов в программе Autodesk 3ds Max
                        2019
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAboutMe" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAboutMe" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</body>

</html>